{% extends 'sidebar.html' %}
{% block content %}

<script type="text/javascript">
  var calculate = function() {

  var bp = document.getElementById('{{form.bp.id_for_label}}').value;
  var hra = bp *document.getElementById('hra').value;
  var ma = bp *document.getElementById('ma').value;
  document.getElementById('{{form.hra.id_for_label}}').value = hra;
  document.getElementById('{{form.ma.id_for_label}}').value = ma;
}

</script>


  <input type="hidden" id="hra" value="{{hra_rate}}">
  <input type="hidden" id="ma" value="{{ma_rate}}">

  <div class="container-fluid" style="margin-top: 7px;">
    <button type="button" class="btn btn-success" name="button" style="float:Right"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp; Add New Salary Scale &nbsp;<i class="fa fa-money-bill" aria-hidden="true"></i></button>
  </div>

  <div class="container" style="margin-top: 100px;">
    <div class="col-lg-6">
    <div class="containerWidth"><strong>Detailes of salary to be paid</strong> </div>
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Department</th>
              <th scope="col">Designation</th>
              <th scope="col">B.P</th>
              <th scope="col">D.A(2%)</th>
              <th scope="col">T.A(3%)</th>
              <th scope="col">H.R.A(3%)</th>
              <th scope="col">Tax(-5%)</th>
              <th scope="col">P.F(-2%)</th>
              <th scope="col">M.A(-2%)</th>
              <th scope="col">Net Salary</th>
              <th scope="col">EDIT</th>
              <th scope="col">DELETE</th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <th scope="row">Sales</th>
                <th scope="row">Manager</th>
                <td>100,000</td>
                <td>2,000</td>
                <td>3,000</td>
                <td>3,000</td>
                <td>-5000</td>
                <td>-2000</td>
                <td>-2000</td>
                <td>81,000</td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-edit"></i></button></td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-eraser"></i></button></td>
              </tr>
              <tr>
                <th scope="row">operation</th>
                <th scope="row">Manager</th>
                <td>100,000</td>
                <td>2,000</td>
                <td>3,000</td>
                <td>3,000</td>
                <td>-5000</td>
                <td>-2000</td>
                <td>-2000</td>
                <td>81,000</td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-edit"></i></button></td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-eraser"></i></button></td>
              </tr>
              <tr>
                <th scope="row">Marketing</th>
                <th scope="row">Manager</th>
                <td>100,000</td>
                <td>2,000</td>
                <td>3,000</td>
                <td>3,000</td>
                <td>-5000</td>
                <td>-2000</td>
                <td>-2000</td>
                <td>81,000</td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-edit"></i></button></td>
                <td><button type="button" class="btn btn-warning" name="button"><i class="fa fa-eraser"></i></button></td>
              </tr>
        </tbody>
      </table>
    </div>
</div>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{field.label}} : {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}

<form action="salary" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Salary Scale</h3>
        <div class="card-body card-block">
          <div class="row form-group">
            <div class="col col-md-3"><label for="{{ form.department.name }}" class=" form-control-label">Department</label></div>
            <div class="col-12 col-md-9">
              <select name="{{ form.department.name }}" id="{{ form.department.id_for_label }}" class="form-control">
                {% for choice in form.department.field.choices %}
                <option value="{{ choice.0 }}"> {{ choice.1 }} </option>
                {% endfor %}
              </select>
            </div>
            <div class="col col-md-3"><label for="{{ form.designation.name }}" class=" form-control-label">Designation</label></div>
            <div class="col-12 col-md-9">
              <select name="{{ form.designation.name }}" id="{{ form.designation.id_for_label }}" class="form-control">
                {% for choice in form.designation.field.choices %}
                  <option value="{{ choice.0 }}"> {{ choice.1 }} </option>
                {% endfor %}
              </select>
            </div>
          </div>
            <div class="row form-group">
              <div class="col col-md-3"><label for="{{ form.bp.name }}" class=" form-control-label">Basic Salary</label></div>
              <div class="col-12 col-md-9"><input type="text" id="{{ form.bp.id_for_label }}" name="{{form.bp.name}}" placeholder="0" class="form-control "
                {% if form.bp.value != none  %}value="{{ form.bp.value|stringformat:'s' }}" {% endif %} required onkeyup='calculate();'></div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>Earnings</strong>
        </div>
        <div class="card-body card-block">
          <div class="row form-group">
            <div class="col col-md-3">
              <div class="form-group">
                <label for="{{form.da.name}}">DA:</label>
                <input type="text" placeholder="dearness allowence"id="{{ form.da.id_for_label }}" name="{{form.da.name}}" class="form-control"><br>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="{{form.ta.name}}">TA:</label>
                <input type="text" id="{{ form.ta.id_for_label }}" placeholder="travel allowence" name="{{form.ta.name}}" class="form-control"><br>
              </div>
            </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="{{form.hra.name}}">HRA:</label>
              <input type="text" id="{{ form.hra.id_for_label }}" placeholder="house-rent allowence" name="{{form.hra.name}}" class="form-control"><br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="{{form.total.name}}">Total:</label>
              <input type="text" id="{{ form.total.id_for_label }}" placeholder="sum"  name="{{form.total.name}}" class="form-control"><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>Deductions</strong>
        </div>
        <div class="card-body card-block">
          <div class="row form-group">
          <div class="col-md-3">
              <div class="form-group">
                <label for="{{form.ma.name}}">MA:</label>
                <input id="{{ form.ma.id_for_label }}" type="text" placeholder="medical allowence"  name="{{form.ma.name}}" class="form-control"><br>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="{{ form.pf.name }}">PF:</label>
                <input id="{{ form.pf.id_for_label }}" type="text" placeholder="provident fund"  name="{{ form.pf.name }}" class="form-control"><br>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="{{ form.tax.name }}">Tax</label>
                <input id="{{ form.tax.id_for_label }}" type="text" placeholder="provident fund"  name="{{ form.tax.name }}" class="form-control"><br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sum">Total:</label>
                <input type="text" placeholder="sum" name="sum1" class="form-control"><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


                          <div class="card-footer" align="left">
                          <label for="sum">Net salary</label>
                          <input type="text" placeholder="total" class="form-controll" name="sum2" class="form-control">
                          </div>

                          <br><br>



                          <div class="card-footer" align="center">
                          <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fas fa-paper-plane"></i> Submit
                          </button>
                          <button type="reset" class="btn btn-danger btn-sm">
                          <i class="fa fa-ban"></i> Reset
                          </button>
                          </div>
                          </form>

                     <!-- </fieldset>
                </div>
        </div>
    </div>
</div> -->




{% endblock %}
